 <!--
 <section id="profile" style="padding-bottom:70px; background-color:ghostwhite">
    <div class="container">
        <div class="row">
            {{!-- for profile photo --}}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top pt-3" src="images/profile-1.png" alt="" style="border-radius: 50%;">
                    </div>
                </div>
            </div>
            {{!-- For detailed Profile information --}}
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        {{!-- edit button --}}

                        <div class="" style="text-align:right">
                            <a class="btn btn-outline-primary " href="/edit-profile">Edit profile</a>
                            <a class="btn btn-outline-primary" href="/add-profile">Add profile</a>
                        </div>
                        {{!-- end of edit button --}}
                        <form action="" enctype="multipart/form-data" method="post">
                            {{!-- Name --}}
                            <input type="text" style="width:100%; height:40px; font-size:30px;padding:0" disabled
                                class="form-control" name="name" value="James Thomas">
                            <br>
                            {{!-- Date of Birth --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Age</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="bday" id="bday" value="32" disabled>
                                    {{!-- style="height :2.250rem;" --}}
                                </div>
                            </div>
                            {{!-- Gender --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Gender</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="gender" value="Male" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="country"
                                        value="United States of America" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">State</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="state" value="Alaska" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="city" value="Anchorage" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Nationality</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="nation" value="American" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Height</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="height" value="175 cm" disabled>
                                </div>
                                {{!-- <div class="col-sm-2">
                                    <select type="text" class="form-control" name="height" value="cm" disabled>
                                        <option>cm</option>
                                        <option>ft</option>
                                    </select>
                                </div> --}}
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Body Type</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="body-type" value="Slim" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Hair</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="hair" value="Greyish" disabled>
                                </div>
                            </div>
                            {{!--Preferred Break Locations --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-12 col-form-label"
                                    style="text-decoration: underline">Preferred Break Locations</label>

                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="break-country"
                                        value="United Arab Emirates" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">State</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="break-state" value="Dubai" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="break-city" value="Dubai" disabled>
                                </div>
                            </div>
                            {{!-- about --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">About me</label>

                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="3" name="about"
                                        disabled>oijojoj gofjgoijo vcocjojed ew at e t werwt tr  tdtya dggfpf pdkpdkp  od dhpjh pojk gpokd pgjkpgkphk posf sdffphkpdphkp khfpfhk p hkph kp kpkf </textarea>
                                </div>
                            </div>
                            {{!-- notifications --}}
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Notifications</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="notifications" value="ON" disabled>
                                </div>
                            </div>





                            {{!--
                            Date of birth / Age : 22-january-1994 / 28 Years old <br>
                            Gender : Male / Female <br>
                            City : <br>
                            State : <br>
                            Country : required<br>
                            Nationality : <br>
                            Height : x cm/ft<br>
                            Body type : Slim/Athletic/Average/curvey/Heavy <br>
                            Hair : Blakish/Brownish/Yellowish/Reddish/Greyish/Bald/Other <br>
                            Preferred Break Locations : Country required/State /city <br>
                            About me : Maximum 500 characters<br>
                            Upload Pictures optional : max 9 pictures <br>
                            Upload Video optional : max 1 video <br>
                            Notifications : ON / OFF <br>
                            Verify Account Button
                            <button type="submit" class="btn btn-primary float-right">Verify Account</button> --}}



                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{!-- 10 pictures and 1 video optional --}}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {{!-- 10 pictures --}}
                        <div class="form-group row">
                            <label for="" class="col-sm-12 col-form-label">Pictures</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 p-3">
                                <img src="images/profile-1.png" id="imgView">
                            </div>
                            <div class="col-sm-3 p-3">
                                <img src="images/profile-3.jpg" id="imgView">
                            </div>
                            <div class="col-sm-3 p-3">
                                <img src="images/profile-1.png" id="imgView">
                            </div>
                            <div class="col-sm-3 p-3">
                                <img src="images/profile-3.jpg" id="imgView">
                            </div>
                        </div>

                        {{!-- video --}}
                        <div class="form-group row">
                            <label for="" class="col-sm-12 col-form-label">Video</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 p-3">
                                <video width="320" height="240" controls>
                                    <source src="videos/sample.mp4" type="video/mp4">
                                    {{!--
                                    <source src="movie.ogg" type="video/ogg"> --}}
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
-->

<section class="bg-light pt-2" id="driver" style="padding-bottom:70px;">
    <div class="container">
        <div class="row p-2">
            {{#each users}}
            <div class="col-sm-3 col-12 col-md-4 p-2">
                <div class="card pb-2 " onclick="location.href='/profile'">
                    <div class="row">
                        <div class="col-5 col-md-5">
                            
                                <img src="profile-images/{{this._id}}.jpg" alt="Avatar">
                           

                        </div>
                        
                        <div class="col-7 col-md-7">
                            <p style="font-weight:bold ;padding-top:2px">{{this.name}}</p> 
                            <p>{{this.house}}  </p>
                          <p >{{this.place}}</p><br><br>
                          <p style="font-weight:bold ;padding-bottom:2px">{{this.mobile}}</p>
                        </div>
                        
                    </div>

                    
                </div>

            </div>
            {{/each}}



        </div>
    </div>
</section>
  


